<div class="callout">
    <div class="container">
        <div class="row">
            <h1 style="text-align: center; color: #000 !important; font-size: 34px !important; text-transform: uppercase;"><strong>OUR LICENSED CATEGORIES</strong></h1>
            <h1 style="text-align: center; color: #e72327 !important; font-size: 24px !important; text-transform: uppercase;">International and Domestic patents pending</h1>
            <div class="fusion-sep-clear"></div>
            <div class="fusion-separator fusion-full-width-sep sep-single" style="border-color:#000;border-top-width:1px;margin: auto auto 10px 10px;"></div>
            <div class="fusion-sep-clear"></div>
            <div class="fusion-separator fusion-full-width-sep sep-none" style="border-color:#e0dede;margin-left: auto;margin-right: auto;margin-top:20px;margin-bottom:20px;"></div>
            <p style="text-align: center;"><a class="btn btn-default" href="/collections" target="_self">VIEW ENTIRE SHOP</a></p>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p style="text-align: center;">
                    {% capture hendrix_img %}drum-displays-hendrix-2.jpg{% endcapture %}
                        <a href="/jimi-hendrix">
                    <img src="{{ hendrix_img | asset_url }}" alt=" college displays" style="width:100%">
					</a>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <a href="/colleges/">
                            <div class="panel panel-default ">
                                <div class="panel-body">
                                    {% capture college_img %}college-drums.jpg{% endcapture %}
                                    <!--   <div class="testimonial-badge fill" style="background-image: url('{{ college_img | asset_url }}') no-repeat center"></div>-->
                                    <img src="{{ college_img | asset_url }}" alt="College Displays" style="width:100%">
                                </div>
                                <div class="panel-footer text-center">
                                    <span class="text-center">Click Here</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/football/">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% capture football_img %}football.jpg{% endcapture %}
                                    <img src="{{ football_img | asset_url }}" alt="Football Displays" style="width:100%">
                                </div>
                                <div class="panel-footer text-center">
                                    <span class="text-center">Click Here</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/rock-bands/">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% capture rockbands_img %}rock-bands2.jpg{% endcapture %}
                                    <img src="{{ rockbands_img | asset_url }}" alt="Rock Band Displays" style="width:100%">
                                </div>
                                <div class="panel-footer text-center">
                                    <span class="text-center">Click Here</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="row"><br /></div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <a href="/blank-drum-display/">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% capture blank_img %}blank-display.jpg{% endcapture %}
                                    <img src="{{ blank_img | asset_url }}" alt="Blank Displays" style="width:100%">
                                </div>
                                <div class="panel-footer text-center">
                                    <span class="text-center">Click Here</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/breweries/">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% capture breweries_img %}breweries-licensed-category.jpg{% endcapture %}
                                    <img src="{{ breweries_img | asset_url }}" alt="Brewery Displays" style="width:100%">
                                </div>
                                <div class="panel-footer text-center">
                                    <span class="text-center">Click Here</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="/artistic/">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {% capture artistics_img %}artistic-custom-drums.jpg{% endcapture %}
                                    <img src="{{ artistics_img | asset_url }}" alt="Artistic Displays" style="width:100%">
                                </div>
                                <div class="panel-footer text-center">
                                    <span class="text-center">Click Here</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>

    </div>
</div>

