<section id="mommybuzz">
  <h2>Mommy Buzz</h2>
  <div class="row indented">
    {% unless settings.homepage_mommybuzz_left_link_url == blank %}
    <a href="{{ settings.homepage_mommybuzz_left_link_url }}" {% unless settings.homepage_mommybuzz_left_link_target == blank %}target="{{ settings.homepage_mommybuzz_left_link_target }}"{% endunless %}>
    {% endunless %}
      <div class="column half">
        {% unless settings.homepage_mommybuzz_left_image == blank %}
        <div class="thumbnail100 left">
          <img src="{{ settings.homepage_mommybuzz_left_image | asset_url }}" alt="{{ settings.homepage_mommybuzz_left_headline }}" />      
        </div>
        {% endunless %} 
        <div class="content contentleft">
          <div class="borderedcontent">
            {% unless settings.homepage_mommybuzz_left_headline == blank %}
    	      <h5>{{ settings.homepage_mommybuzz_left_headline }}</h5>
            {% endunless %}
            {% unless settings.homepage_mommybuzz_left_text == blank %}
            <p>{{ settings.homepage_mommybuzz_left_text }}</p>
            {% endunless %}
            {% unless settings.homepage_mommybuzz_left_source == blank %}
            <h6>{{ settings.homepage_mommybuzz_left_source }}</h6>
            {% endunless %}
          </div>
        </div>
      </div>
    {% unless settings.homepage_mommybuzz_left_link_url == blank %}
    </a>
    {% endunless %}
    {% unless settings.homepage_mommybuzz_right_link_url == blank %}
    <a href="{{ settings.homepage_mommybuzz_right_link_url }}" {% unless settings.homepage_mommybuzz_right_link_target == blank %}target="{{ settings.homepage_mommybuzz_right_link_target }}"{% endunless %}>
    {% endunless %}
    <div class="column half">
	    <div class="thumbnail100 right">
        <img src="{{ settings.homepage_mommybuzz_right_image | asset_url }}" alt="{{ settings.homepage_mommybuzz_right_headline }}" />
      </div>
      <div class="content contentright">
        {% unless settings.homepage_mommybuzz_right_headline == blank %}
        <p class="headline3">{{ settings.homepage_mommybuzz_right_headline }}</p>
        {% endunless %}
        {% unless settings.homepage_mommybuzz_right_source == blank %}
        <h6>{{ settings.homepage_mommybuzz_right_source }}</h6>
        {% endunless %}
      </div>
    </div>
    {% unless settings.homepage_mommybuzz_right_link_url == blank %}
    </a>
    {% endunless %}
  </div>
</section>