{% if settings.social_show %}
<div class="social-links">
	{% if settings.fonts_shopify_social_icons %}{% assign social_icon_prefix = 'shopify-' %}{% endif %}
	{% unless settings.social_facebook_url == blank %}
	<a href="{{ settings.social_facebook_url }}" title="Follow us on Facebook" target="_blank"><span class="{{ social_icon_prefix }}social-icon-facebook{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_twitter_url == blank %}
	<a href="{{ settings.social_twitter_url }}" title="Follow us on Twitter" target="_blank"><span class="{{ social_icon_prefix }}social-icon-twitter{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_pinterest_url == blank %}
	<a href="{{ settings.social_pinterest_url }}" title="Follow us on Pinterest" target="_blank"><span class="{{ social_icon_prefix }}social-icon-pinterest{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_googleplus_url == blank %}
	<a href="{{ settings.social_googleplus_url }}" title="Follow us on Google+" target="_blank"><span class="{{ social_icon_prefix }}social-icon-googleplus{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_instagram_url == blank %}
	<a href="{{ settings.social_instagram_url }}" title="Follow us on Instagram" target="_blank"><span class="{{ social_icon_prefix }}social-icon-instagram{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_linkedin_url == blank %}
	<a href="{{ settings.social_linkedin_url }}" title="Follow us on linkedin" target="_blank"><span class="{{ social_icon_prefix }}social-icon-linkedin{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_flickr_url == blank %}
	<a href="{{ settings.social_flickr_url }}" title="Follow us on Flickr" target="_blank"><span class="{{ social_icon_prefix }}social-icon-flickr{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_yelp_url == blank %}
	<a href="{{ settings.social_yelp_url }}" title="Look us up on Yelp" target="_blank"><span class="{{ social_icon_prefix }}social-icon-yelp{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_vimeo_url == blank %}
	<a href="{{ settings.social_vimeo_url }}" title="Follow us on Vimeo" target="_blank"><span class="{{ social_icon_prefix }}social-icon-vimeo{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_youtube_url == blank %}
	<a href="{{ settings.social_youtube_url }}" title="Follow us on YouTube" target="_blank"><span class="{{ social_icon_prefix }}social-icon-youtube{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_tumblr_url == blank %}
	<a href="{{ settings.social_tumblr_url }}" title="Follow us on Tumblr" target="_blank"><span class="{{ social_icon_prefix }}social-icon-tumblr{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_wordpress_url == blank %}
	<a href="{{ settings.social_wordpress_url }}" title="Come visit our blog" target="_blank"><span class="{{ social_icon_prefix }}social-icon-wordpress{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_featured_blog == blank %}
	<a href="/blogs/{{ settings.social_featured_blog }}.atom" title="Subscribe to our blog" target="_blank"><span class="{{ social_icon_prefix }}social-icon-feed{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}
	{% unless settings.social_contact_email == blank %}
	<a href="mailto:{{ settings.social_contact_email }}" title="Email us" target="_blank"><span class="{{ social_icon_prefix }}social-icon-email{{ settings.social_icon_suffix }}"></span></a>
	{% endunless %}	
</div>
{% endif %}